<h1>CRUD Users</h1>

<na>
   
        <a href="./crud/users">View all</a>
        <a href="./crud/users/create">Create new user</a>
        <a href="./crud/users/search">Search</a>
        <a href="./crud/users/<%= locals.Authenticated?.id %>">profile</a>
        <a href="./crud/users/logout">Logout</a>
        <a href="./crud/users/admin" >Admin</a>

</nav>