<!DOCTYPE html5>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <title>CRUD website</title>

    </head>
    <header>
        <ul>
            <li>Creat account</li>
            <li>Log in</li>
        </ul>
    </header>
    <body>
