<%- include('header') %>
<h2>Start/restart the game</h2>
<hr/>
<p>This is a guessing game. Press "START" and the server starts to think of a number between 1 and 100. you have at most 5 guesses to guess the number</p>
<form action="./guess/init" method="POST">
    <button >Start</button>
</form>
