body{
    font-family:"Courier New",sans-serif;
    max-width:800px;
    margin:auto;
}
ul{
    list-style-type:none;
    padding:0;

}
form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:10px
}
button{ 
    padding:10px 20px;
    margin-top:10px;
    background-color:#9ca69c;
    color:white;
    border:none;
    cursor:pointer;
    width:50%;
    margin : auto;
}
button:hover{
    background-color:#85a68c;
}
.delete-btn{
    color:red;
    cursor:pointer;
    font-weight:bold;
    padding-right:5px;
    display: inline-block;
    transition: color 0.2s ease;
    margin-left:5px;
}