<%- include("header") -%>
<form style="display:flex; flex-direction:column; width:500px; margin:auto; padding:20px; gap:10px;" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <lable for="password">Password</lable>
    <input type="password" id="password" name="password">
    <button>Login</button>
</form>