<!DOCTYPE html5>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href= "/style.css">
        <title>All Notes</title>
    </head>
    <body>
      <h1>All Notes</h1>
        <form action="/notes" method="POST">
            <label for="titleinput">Title:</label>
            <input type="text" id="titleinput" name="title">

            <label for="contentsinput" >Content:</label>
            <textarea id="contentsinput" name="content" cols="30" rows="10"></textarea>

            <button type="submit">create Note</button>
        </form>
    </body>
</html>