<!DOCTYPE html5>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <title>CRUD website</title>

    </head>
    <header>
        <h1>Welcome to my CRUD website</h1>
        <ul>
            <li><a href="/registerPage">Create account</a></li>
            <li><a href="/loginPage">Log in</a></li>
            <li><a href="#">Log in admin</a></a></li>
        </ul>

    </header>
    <body>
     </body>
</html> 
