<!DOCTYPE html5>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <title>CRUD website</title>

    </head>
    <header>
      <h1>Please enter you username, password and email to Register</h1>
    </header>
    <body>
        <form>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <button>Submit</button>
        </form>
     </body>
</html> 