<%-include('header') -%>
<form style="display:flex; flex-direction:column; width:500px; margin:auto; padding:20px; gap:10px;" method="POST">
    <label for="newPassword">New password:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    <button>Change Password</button>
</form>