<h1>CRUD Users</h1>

<na>
    <%if(Authenticated.role === 'admin'){%>
        <a href="./crud/users">View all</a>
        <a href="./crud/users/create">Create new user</a>
        <a href="./crud/users/search">Search</a>
    <%}else if(Authenticated.role === "user"){%>
        <a href="./crud/users/<%= locals.Authenticated?.id %>">profile</a>
        <a href="#">Logout</a>
    <%}%>


</nav>